/* *{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
} */
.container{
    background-color: brown;
    height: 500px;
    border: 3px solid black;
    display: grid;
    /* grid-template-columns: 200px 200px 210px; */
    /* BETTERN RESPONSIVE WAY */
    /* grid-template-columns: repeat(1fr); */
    /* or */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4,1fr);
    gap: 15px;
    margin-bottom: 20px;
}
.box{
    background-color: aqua;
    border: 2px solid white;
    /* width: 80px; */
    /* height: 80px; */
}
#box1{
    /* EXPANDING THE COLUMN SPAN OF ANY GRID-ITEM */
    grid-column-start: 1;
    grid-column-end: 3;

}

#box3{
    /* EXPANDING THE ROW SPAN OF ANY GRID-ITEM */
    grid-row-start: 2;
    grid-row-end: 4;

}

